* {
    margin: 0;
    padding: 0;
  }
body{
    overflow-x: hidden;
}  
.story{
    margin-left: 60%;
    margin-top: -35%;
    font-size: x-large;

}
#image1{
    margin-left: 10%;
    width: 40%;
    height: 80%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    margin-top: 4%;
}
.vision{
    margin-bottom: 20%;
    margin-left: 2%;
    font-size: x-large;
}
#image2{
    margin-left: 60%;
    margin-top: -40%;
    width: 50%;
    height: 80%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}